---
import Layout from "../../layouts/Layout.astro";
import HebergementDetail from "../../components/detail/HebergementDetail.jsx";
import { hebergements } from "../../data/hebergements.js";
import { getHebergementBySlug } from "../../utils/hebergementFilters.js";

export async function getStaticPaths() {
  return hebergements.map((hebergement) => ({
    params: { slug: hebergement.slug },
    props: { hebergement },
  }));
}

const { slug } = Astro.params;
const { hebergement } = Astro.props;

if (!hebergement) {
  return Astro.redirect("/404");
}

const title = `${hebergement.nom} - Hébergements - Castagniccia Casinca`;
const description = hebergement.description;
---

<Layout title={title} description={description}>
  <main>
    <HebergementDetail hebergement={hebergement} client:load />
  </main>
</Layout>
