---
import Layout from "../../layouts/Layout.astro";
import HebergementsListing from "../../components/listing/HebergementsListing.jsx";
---

<Layout title="Hébergements - Castagniccia Casinca">
  <main>
    <HebergementsListing client:load />
  </main>
</Layout>
