---
import Layout from "../../layouts/Layout.astro";
import PlageDetail from "../../components/detail/PlageDetail.jsx";
import { plages } from "../../data/plages.js";
import { getPlageBySlug } from "../../utils/plageFilters.js";

export async function getStaticPaths() {
  return plages.map((plage) => ({
    params: { slug: plage.slug },
    props: { plage },
  }));
}

const { slug } = Astro.params;
const { plage } = Astro.props;

if (!plage) {
  return Astro.redirect("/404");
}

const title = `${plage.nom} - Plages - Castagniccia Casinca`;
const description = plage.description;
---

<Layout title={title} description={description}>
  <main>
    <PlageDetail plage={plage} client:load />
  </main>
</Layout>
