---
import Layout from "../../layouts/Layout.astro";
import PlagesListing from "../../components/listing/PlagesListing.jsx";
---

<Layout title="Plages - Castagniccia Casinca">
  <main>
    <PlagesListing client:load />
  </main>
</Layout>
