---
import Layout from '../../layouts/Layout.astro';
import ArtisanatListing from '../../components/listing/ArtisanatListing.jsx';
---

<Layout title="Artisanat & Terroir - Castagniccia Casinca">
  <main>
    <ArtisanatListing client:load />
  </main>
</Layout>
